@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Nunito+Sans:200);
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Noto Sans', sans-serif; }

@font-face {
  font-family: 'Maisonneue demi';
  src: url("https://uploads-ssl.webflow.com/59c3a820387ac60001b24d4d/59c53e234590f30001414ef4_MaisonNeue-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Maisonneue book';
  src: url("https://uploads-ssl.webflow.com/59c3a820387ac60001b24d4d/59c53e23b7ea8600018a5a40_MaisonNeue-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Maisonneue mono';
  src: url("https://uploads-ssl.webflow.com/59c3a820387ac60001b24d4d/59c53e23456750000195ac89_MaisonNeue-Mono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Maisonneue Light';
  src: url("https://uploads-ssl.webflow.com/59c3a820387ac60001b24d4d/5a9da3f1da615c00014b3d1a_MaisonNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

body {
  font-family: 'Noto Sans', sans-serif;;
  color: #1d1d1e;
  line-height: 21px; }

h6 {
  color: #babac2;
  font-size: 11px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 2.75px;
  text-transform: uppercase; }

h3, h4, h6 {
  font-family: 'Noto Sans', sans-serif; }

h2 {
  font-family: 'Noto Sans', sans-serif;;
  font-size: 36px;
  line-height: 43px;
  font-weight: 300; }

body,
html {
  overflow-x: hidden; }

.section-padding {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.color1 {
  color: #024FFF; }

.download {
  border-radius: 5px;
  padding: 10px;
  padding-top: 30px;
  margin-top: 3%; }
  .download h4 {
    font-family: 'Noto Sans', sans-serif;;
    font-size: 16px;
    font-weight: 300; }

@keyframes b {
  0% {
    transform: translate3d(0, 10%, 0); }
  to {
    transform: translate3d(0, -10%, 0); } }

@keyframes a {
  0% {
    transform: translate3d(-5%, 0, 0); }
  to {
    transform: translate3d(5%, 0, 0); } }

#section-hero {
  padding-bottom: 6rem;
  padding-top: 6rem;
  position: relative; }
  #section-hero h2 {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 50px;
    color: #363d3e; }
    #section-hero h2 span {
      color: #024FFF; }
  #section-hero:before, #section-hero:after {
    content: "";
    z-index: 0;
    position: absolute;
    display: block;
    border-radius: 50%;
    pointer-events: none; }
  #section-hero:before {
    top: 15vh;
    right: -57vh;
    width: 110vh;
    height: 110vh;
    background-color: rgba(53, 2, 255, 0.3);
    transform: translate3d(-5%, 0, 0);
    animation: a 20s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate; }
  #section-hero:after {
    top: -18vh;
    right: -20vh;
    width: 45vh;
    height: 45vh;
    opacity: .5;
    background-color: rgba(14, 118, 222, 0.4);
    transform: translate3d(0, 10%, 0);
    animation: b 15s 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate; }

.margin-hero {
  margin-top: 13rem; }

.heroheading {
  text-transform: uppercase; }
  .heroheading span {
    display: block; }
    .heroheading span.small {
      color: #878787;
      font-size: 2.6rem;
      font-weight: 800; }
    .heroheading span.big {
      font-size: 9rem;
      font-weight: 600;
      color: #525252; }
    .heroheading span.medium {
      color: #878787;
      font-size: 2.4;
      font-weight: 800; }

.extra-padding-bottom.two {
  padding-bottom: 200px; }

.removepad {
  padding-right: 0px;
  padding-left: 0px; }

#footer {
  border-top: 1px solid #e9e9f0;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  #footer p {
    color: #212121;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px; }
  #footer ul li {
    display: inline-block;
    list-style-type: none;
    display: inline-block;
    margin-left: 40px; }
    #footer ul li a {
      color: #212121; }
      #footer ul li a:hover {
        color: #024FFF; }
    #footer ul li:first-child {
      margin-left: 0px; }

.text-right-desktop {
  text-align: right; }

.darkside {
  background: black;
  padding-top: 14rem;
  padding-bottom: 14rem;
  color: white; }
  .darkside h3 {
    font-size: 2rem; }
  .darkside h1 {
    font-size: 4.6rem;
    padding-top: 1rem; }
    .darkside h1 a {
      text-decoration: none;
      color: #024FFF; }
      .darkside h1 a:hover {
        color: white; }

.img-fluid {
  height: 190px; }

.btn {
  margin-right: 3%;
  width: 200px;
  padding: 0.7rem 0;
  border-radius: 25px;
  font-weight: bold;
  display: inline-block; }
  .btn i {
    margin-right: 3%; }
  .btn:hover {
    box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.3); }
  .btn:focus {
    outline: 0 solid transparent; }
  .btn.btn-fill {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 5px;
    background-image: radial-gradient(circle farthest-corner at 97% -22%, #7761f5, #7761f5 52%, #1f24ee);
    box-shadow: 0 0 12px 0 rgba(43, 64, 255, 0.4);
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    padding: 16px 15px;
    background-color: #3898ec;
    line-height: inherit;
    border: none;
    color: #fff !important;
    border: none;
    color: #fff; }
    .btn.btn-fill:hover {
      box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.3);
      background-color: #000; }
  .btn.btn-outline {
    color: pink;
    border: solid 1px pink; }
    .btn.btn-outline:hover {
      background: black; }

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  background-color: #212121; }

.contact-form input {
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  border: 1px solid #d3d3da;
  border-radius: 5px;
  background-color: transparent;
  transition: border .3s ease,background-color .3s ease;
  font-family: 'Noto Sans', sans-serif;
  color: #000;
  font-size: 13px;
  line-height: 1em; }
  .contact-form input:focus {
    box-shadow: none;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px 1px rgba(57, 57, 57, 0.08); }
  .contact-form input::-webkit-input-placeholder {
    line-height: 1;
    color: #9D9D9D; }
  .contact-form input:-moz-placeholder {
    line-height: 1;
    color: #9D9D9D; }
  .contact-form input::-moz-placeholder {
    line-height: 1;
    color: #9D9D9D; }
  .contact-form input:-ms-input-placeholder {
    line-height: 1;
    color: #9D9D9D; }

.navbar-toggler-icon i {
  color: #ec49b3;
  margin-top: 5px; }

.navbar-brand img {
  margin-top: 2px;
  height: 60px;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 991px) {
    .navbar-brand img {
      margin-left: 20px; } }

.navbar-down .navbar-brand img {
  height: 35px;
  transition: all 0.3s ease-in-out; }

.navbar ul li a {
  color: black;
  transition: 100ms color ease-in; }
  .navbar ul li a:hover {
    background: none;
    color: #024FFF; }
  .navbar ul li a:focus {
    background: none;
    color: #024FFF; }

.navbar-down {
  background-color: #fff;
  box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.06); }

.navbar-up {
  padding: 10px 0; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "\f0c9";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url(""); }

@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
    background: #f0f1f4; }
  html {
    font-size: 60%;
    text-align: center !important; }
  .text-right-desktop {
    text-align: center; }
  .col-lg-4, .col-lg-12, .col-lg-6, .col-lg-8 {
    text-align: center; }
  .img-fluid {
    height: 140px;
    margin-bottom: 10%; }
  .something {
    font-size: 2.6rem !important; }
  .mobile-hide {
    display: none !important; }
  .mobile-show {
    display: block !important; }
  p {
    font-size: 1.4rem; }
  .darkside h1 {
    font-size: 2.6rem; } }

.mobile-hide {
  display: block; }

.mobile-show {
  display: none; }
